<a href="https://colab.research.google.com/github/jmsp43/microcred-jan-22/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
words = ["the","rock","has come back","to","smackdown"]

## 2.	Print out those variables by using a for loop

In [ ]:
words = ["the","rock","has come back","to","smackdown"]
for word in words:
  print(word)

the
rock
has come back
to
smackdown

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
words = ["the","rock","has come back","to","smackdown"]
for word in words:
  print(word+"!")

the!
rock!
has come back!
to!
smackdown!

## 4.	Use a for loop to print even numbers from 1-20.

In [2]:
for num in range(1,21):
  if (num %2 == 0):
    print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
words = ["the","rock","has come back","to","smackdown"]
sorted(words)

['has come back', 'rock', 'smackdown', 'the', 'to']

## 6.	Print out the first three elements of your list.

In [ ]:
words = ["the","rock","has come back","to","smackdown"]
print(words[:3])

['the', 'rock', 'has come back']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
words = ["the","rock","has come back","to","smackdown"]
for word in words[3:]:
  print(word)

to
smackdown